<div class="container" *ngIf="stockData">

  <div class="header">

    <h2 class="symbl">{{ stockData.companyData.displaySymbol }}</h2>
    <h2 class="symblData">{{ stockData.companyData.description }}</h2>
    <div class="delete" (click)="onDelete()" [id]="'remove' + stockData.companyData.displaySymbol">
      <mat-icon>clear</mat-icon>
    </div>
  </div>
  <div class="content">
    <div class="details">
      <span> <b>Change Today:</b> {{ stockData.value.change }}%</span>
      <span>
        <b>Opening Price:</b> ${{ stockData.value.openPrice }}</span>
    </div>
    <div class="detail-content">
      <span> <b>Current Price:</b> ${{ stockData.value.currentPrice }}</span>
      <span> <b>High Price:</b> ${{ stockData.value.highPrice }}</span>
    </div>
    <div class="arrowUp" *ngIf="stockData.value.precentChange > 0">
      <img src="../../assets/upGreenImage.jpg" alt="Upward Arrow Icon" class="up-Img">
    </div>
    <div class="arrowZero" *ngIf="stockData.value.precentChange === 0">
      <img src="../../assets/equalImage.jpg" alt="Equal Arrow Icon" class="equal-Img">
    </div>
    <div class="arrowDown" *ngIf="stockData.value.precentChange < 0">
      <img src="../../assets/downRedImage.jpg" alt="Downward Arrow Icon" class="down-Img">
    </div>
  </div>
  <a style="text-align:right" (click)="moveToSentimentPage()" [id]="'sentiment' + stockData.companyData.displaySymbol"
    class="sentimentLink">
    <span>See Sentiment Details</span>
  </a>
</div>